[submodule "libft"]
	path = lib/libft
	url = git@github.com:arrudax/Libft.git

[submodule "MLX42"]
	path = MLX42
	url = git@github.com:codam-coding-college/MLX42.git
[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:arrudax/Libft.git
[submodule "lib/MLX42"]
	path = lib/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
